@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.5;
  background-color: #f9f9f9;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
  position: relative;
}

li {
  list-style-type: none;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
