:root {
  font-size: 16px;
}

p {
  font-size: 1.25rem;
  line-height: 1.8;
  color: $text-color;
}
a {
  color: $text-color;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $title-color;
  margin: 0 0 0.5rem;
  font-weight: bold;
  letter-spacing: -0.025rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.75rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: 500;
}

h4 {
  font-size: 2.25rem;
}

h5 {
  font-size: 2.1rem;
}

h6 {
  font-size: 2rem;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2.25rem;
  }

  p {
    font-size: 1.875rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.75rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0.65rem;
  }
}
